/* -- GENERAL TYPOGRAPHY -- */
.fretTitle {
  color: #555;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.4;
  font-size: 1.6em;
  margin: 10px 0 10px 0;
  font-weight: 900;
  padding: 5px;
}

section {
  padding: 20px;
}

.content {
  max-width: 960px;
  margin: auto;
}

/* Fretboard Container/Wrapper */

.fretContainer, .fretContainer_h {
  outline: solid 1px #eeee;
  margin: 0 auto;
  padding: 15px 0;
}

.fretContainer {
  width: 320px;
}

.fretContainer_h {
  max-width: 400px;
}

@media all and (max-width: 400px) {
  .fretContainer_h {
    max-width: 288px;
  }
}
@media all and (max-width: 420px) {
  .fretContainer {
    max-width: 220px;
  }
}
.svg_wrapper {
  background-color: #fff;
  position: relative;
  height: 0;
}

.svg_wrapper svg.fretboard_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.svg_wrapper .cells {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.svg_wrapper.v4 {
  padding-top: 91.6666666667%;
}

.svg_wrapper.v5 {
  padding-top: 106.9444444444%;
}

.svg_wrapper.v7 {
  padding-top: 137.5%;
}

.svg_wrapper.v9 {
  padding-top: 168.0555555556%;
}

.svg_wrapper.v12 {
  padding-top: 213.8888888889%;
}

.svg_wrapper.v15 {
  padding-top: 259.7222222222%;
}

.svg_wrapper.v .cell svg {
  width: 12.5%;
  float: left;
  display: block;
}

.svg_wrapper.v4 .cell svg {
  height: 16.6666666667%;
}

.svg_wrapper.v5 .cell svg {
  height: 14.2857142857%;
}

.svg_wrapper.v7 .cell svg {
  height: 11.1111111111%;
}

.svg_wrapper.v9 .cell svg {
  height: 9.0909090909%;
}

.svg_wrapper.v12 .cell svg {
  height: 7.1428571429%;
}

.svg_wrapper.v15 .cell svg {
  height: 5.8823529412%;
}

.svg_wrapper.h5 {
  padding-top: 85.7142857143%;
}

.svg_wrapper.h6 {
  padding-top: 75%;
}

.svg_wrapper.h7 {
  padding-top: 72.7272727273%;
}

.svg_wrapper.h .cell svg {
  height: 12.5%;
  float: left;
  display: block;
  z-index: 2;
}

.svg_wrapper.h5 .cell svg {
  width: 14.2857142857%;
}

.svg_wrapper.h6 .cell svg {
  width: 12.5%;
}

.svg_wrapper.h7 .cell svg {
  width: 12.1212121212%;
}

/* Fretboard Element Styles */
.cell.dot .fretb_dot {
  fill: #27a9e1;
}

.cell.dot.root .fretb_dot {
  fill: #F05A28;
}

.cell.dot.faded .fretb_dot {
  opacity: 0.25;
}

.fretboard_bg .fret_bg rect {
  fill: #fff;
}

.fretboard_bg .frets rect {
  fill: #ddd;
}

.fretboard_bg .nut rect {
  fill: #6e6e6e;
}

.fretboard_bg .strings rect {
  fill: #6e6e6e;
}

.svg_wrapper.noNut .fretboard_bg .nut rect {
  fill: none;
}

.markdown-body pre.fretboard {
  background-color: transparent;
}

.lightbox-container.show {
  display: flex !important;
}

.lightbox-container {
  display: none;

  position: fixed;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}

.night .lightbox-container {
  background-color: rgba(47, 47, 47, 0.8);;
}

.lightbox-container .lightbox-control-previous,
.lightbox-container .lightbox-control-next,
.lightbox-container .lightbox-control-close {
  position: absolute;
  width: 40px;
  height: 40px;
  color: rgba(65, 65, 65, 0.8);
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  z-index: 1;
}

.night .lightbox-container .lightbox-control-previous,
.night .lightbox-container .lightbox-control-next,
.night .lightbox-container .lightbox-control-close {
  color: rgba(255, 255, 255, 0.5);
}

.lightbox-container .lightbox-control-previous:hover,
.lightbox-container .lightbox-control-next:hover,
.lightbox-container .lightbox-control-close:hover {
  color: rgba(130, 130, 130, 0.78);
}

.night .lightbox-container .lightbox-control-previous:hover,
.night .lightbox-container .lightbox-control-next:hover,
.night .lightbox-container .lightbox-control-close:hover {
  color: rgba(255, 255, 255, 0.8);
}

.lightbox-container .lightbox-control-next,
.lightbox-container .lightbox-control-previous {
  top: calc(50% - 10px);
}

.lightbox-container .lightbox-control-previous {
  left: 0;
}

.lightbox-container .lightbox-control-next {
  right: 0;
}

.lightbox-container .lightbox-control-close {
  top: 10px;
  right: 10px;
}

.lightbox-container .lightbox-inner {
  width: 100%;
  height: 100%;
  cursor: move;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightbox-container .lightbox-inner img {
  max-width: 100%;
  cursor: move;

  transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}

.markdown-body img.md-image {
  cursor: zoom-in;
}

body.no-scroll {
  overflow: hidden;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/* for extra features should include this */

.vimeo,
.youtube {
    position: relative;
    cursor: pointer;
    display: table;
    width: 100%;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    overflow: hidden;
}
/* youtube always use 16:9 aspect ratio video */
.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.vimeo img {
    width: 100%;
    object-fit: contain;
    z-index: 0;
}
.youtube img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.vimeo iframe,
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 1;
}
.vimeo .icon,
.youtube .icon {
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.3;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
    z-index: 0;
}
.vimeo:hover .icon,
.youtube:hover .icon {
    opacity: 0.6;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
}

.slideshare .inner,
.speakerdeck .inner {
    position: relative;
    width: 100%;
}
.slideshare .inner iframe,
.speakerdeck .inner iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.geo-map {
  width: 100%;
  height: 250px;
}

/* markmap */
.markmap-container {
  height: 300px;
}

.markmap-container > svg {
  width: 100%;
  height: 100%;
}

.MJX_Assistive_MathML {
    display: none;
}

.ui-infobar {
    position: relative;
    z-index: 2;
    max-width: 758px;
    margin-top: 25px;
    margin-bottom: -25px;
    color: #777;
}

.toc .invisable-node {
  list-style-type: none;
}

.ui-toc {
    position: fixed;
    bottom: 20px;
    z-index: 10000;
}

.ui-toc-label {
    opacity: 0.9;
    background-color: #ccc;
    border: none;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
}

.ui-toc .open .ui-toc-label {
    opacity: 1;
    color: #5f5f5f;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
}

.ui-toc-label:focus {
    opacity: 1;
    background-color: #ccc;
    color: black;
}

.ui-toc-label:hover {
    opacity: 1;
    background-color: #ccc;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
}

.ui-toc-dropdown {
    margin-top: 23px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 45vw;
    width: 25vw;
    max-height: 70vh;
    overflow: auto;
    text-align: inherit;
}

.ui-toc-dropdown > .toc {
    max-height: calc(70vh - 100px);
    overflow: auto;
}

.ui-toc-dropdown[dir='rtl'] .nav {
    padding-right: 0;
    letter-spacing: 0.0029em;
}

.ui-toc-dropdown a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.ui-toc-dropdown .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.ui-toc-dropdown .toc.expand ul {
    display: block;
}

.ui-toc-dropdown .nav > li:first-child:nth-last-child(1) > ul {
    display: block;
}

.ui-toc-dropdown .nav>li>a:focus,.ui-toc-dropdown .nav>li>a:hover {
    padding-left: 19px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid black;
}

.night .ui-toc-dropdown .nav>li>a:focus, .night .ui-toc-dropdown .nav>li>a:hover{
    color: white;
    border-left-color: white;
}

.ui-toc-dropdown[dir='rtl'] .nav>li>a:focus,.ui-toc-dropdown[dir='rtl'] .nav>li>a:hover {
    padding-right: 19px;
    border-left: none;
    border-right: 1px solid black;
}

.ui-toc-dropdown .nav>.active:focus>a,.ui-toc-dropdown .nav>.active:hover>a,.ui-toc-dropdown .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: black;
    background-color: transparent;
    border-left: 2px solid black;
}
.night .ui-toc-dropdown .nav>.active:focus>a,.night .ui-toc-dropdown .nav>.active:hover>a,.night .ui-toc-dropdown .nav>.active>a {
    color: white;
    border-left: 2px solid white;
}

.ui-toc-dropdown[dir='rtl'] .nav>.active:focus>a,.ui-toc-dropdown[dir='rtl'] .nav>.active:hover>a,.ui-toc-dropdown[dir='rtl'] .nav>.active>a {
    padding-right: 18px;
    border-left: none;
    border-right: 2px solid black;
}

.ui-toc-dropdown .nav .nav {
    display: none;
    padding-bottom: 10px;
}

.ui-toc-dropdown .nav>.active>ul {
    display: block;
}

.ui-toc-dropdown .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.night .ui-toc-dropdown .nav > li > a{
    color: #aaa;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>a {
    padding-right: 30px;
}

.ui-toc-dropdown .nav .nav>li>ul>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    font-size: 12px;
    font-weight: 400;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>a {
    padding-right: 40px;
}

.ui-toc-dropdown .nav .nav>li>ul>li>ul>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 50px;
  font-size: 12px;
  font-weight: 400;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>ul>li>a {
  padding-right: 50px;
}

.ui-toc-dropdown .nav .nav>li>ul>li>ul>li>ul>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 60px;
  font-size: 12px;
  font-weight: 400;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>ul>li>ul>li>a {
  padding-right: 60px;
}



.ui-toc-dropdown .nav .nav>li>a:focus,.ui-toc-dropdown .nav .nav>li>a:hover {
    padding-left: 29px;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>a:focus,.ui-toc-dropdown[dir='rtl'] .nav .nav>li>a:hover {
    padding-right: 29px;
}

.ui-toc-dropdown .nav .nav>li>ul>li>a:focus,.ui-toc-dropdown .nav .nav>li>ul>li>a:hover {
    padding-left: 39px;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>a:focus,.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>a:hover {
    padding-right: 39px;
}

.ui-toc-dropdown .nav .nav>li>ul>li>ul>li>a:focus,.ui-toc-dropdown .nav .nav>li>ul>li>ul>li>a:hover {
  padding-left: 49px;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>ul>li>a:focus,.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>ul>li>a:hover {
  padding-right: 49px;
}

.ui-toc-dropdown .nav .nav>li>ul>li>ul>li>ul>li>a:focus,.ui-toc-dropdown .nav .nav>li>ul>li>ul>li>ul>li>a:hover {
  padding-left: 59px;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>ul>li>ul>li>a:focus,.ui-toc-dropdown[dir='rtl'] .nav .nav>li>ul>li>ul>li>ul>li>a:hover {
  padding-right: 59px;
}

.ui-toc-dropdown .nav .nav>.active:focus>a,.ui-toc-dropdown .nav .nav>.active:hover>a,.ui-toc-dropdown .nav .nav>.active>a {
    padding-left: 28px;
    font-weight: 500;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>.active:focus>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active:hover>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>a {
    padding-right: 28px;
}

.ui-toc-dropdown .nav .nav>.active>.nav>.active:focus>a,.ui-toc-dropdown .nav .nav>.active>.nav>.active:hover>a,.ui-toc-dropdown .nav .nav>.active>.nav>.active>a {
    padding-left: 38px;
    font-weight: 500;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.nav>.active:focus>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.nav>.active:hover>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.nav>.active>a {
    padding-right: 38px;
}

.ui-toc-dropdown .nav .nav>.active>.nav>.active>.nav>.active:focus>a,.ui-toc-dropdown .nav .nav>.active>.nav>.active>.nav>.active:hover>a,.ui-toc-dropdown .nav .nav>.active>.nav>.active>.nav>.active>a {
  padding-left: 48px;
  font-weight: 500;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.nav>.active>.nav>.active:focus>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.nav>.active>.nav>.active:hover>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.active>.nav>.nav>.active>a {
  padding-right: 48px;
}

.ui-toc-dropdown .nav .nav>.active>.nav>.active>.nav>.active>.nav>.active:focus>a,.ui-toc-dropdown .nav .nav>.active>.nav>.active>.nav>.active>.nav>.active:hover>a,.ui-toc-dropdown .nav .nav>.active>.nav>.active>.nav>.active>.nav>.active>a {
  padding-left: 58px;
  font-weight: 500;
}

.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.nav>.active>.nav>.active>.nav>.active:focus>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.nav>.active>.nav>.active>.nav>.active:hover>a,.ui-toc-dropdown[dir='rtl'] .nav .nav>.active>.active>.nav>.nav>.active>.nav>.active>a {
  padding-right: 58px;
}

/* support japanese font */
.markdown-body[lang^="ja"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", Osaka, Meiryo, "\30E1\30A4\30EA\30AA", "MS Gothic", "\FF2D\FF33   \30B4\30B7\30C3\30AF", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ui-toc-dropdown[lang^="ja"] {
    font-family: "Source Sans Pro", Helvetica, Arial, "Meiryo UI", "MS PGothic", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", sans-serif;
}

/* support zh-tw font */
.markdown-body[lang="zh-tw"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Microsoft JhengHei", "\5FAE\8EDF\6B63\9ED1", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ui-toc-dropdown[lang="zh-tw"] {
    font-family: "Source Sans Pro", Helvetica, Arial, "Microsoft JhengHei UI", "\5FAE\8EDF\6B63\9ED1UI", sans-serif;
}

/* support zh-cn font */
.markdown-body[lang="zh-cn"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ui-toc-dropdown[lang="zh-cn"] {
    font-family: "Source Sans Pro", Helvetica, Arial, "Microsoft YaHei UI", "\5FAE\8F6F\96C5\9ED1UI", sans-serif;
}

.ui-affix-toc {
    position: fixed;
    top: 0;
    max-width: 15vw;
    max-height: 70vh;
    overflow: auto;
}

.expand-toggle, .back-to-top, .go-to-bottom {
    display: block;
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.expand-toggle:hover, .expand-toggle:focus, .back-to-top:hover, .back-to-top:focus, .go-to-bottom:hover, .go-to-bottom:focus {
    color: #563d7c;
    text-decoration: none;
}

.back-to-top, .go-to-bottom {
    margin-top: 0;
}

.ui-user-icon {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ui-user-icon.small {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0.2em 0;
}

small span {
    line-height: 22px;
}

small .dropdown {
    display: inline-block;
}

small .dropdown a:focus, small .dropdown a:hover {
    text-decoration: none;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.night .navbar{
    background: #333;
    border-bottom-color: #333;
    color: #eee;
}

.night .navbar a{
    color: #eee;
}

@media print {
    div, table, img, pre, blockquote {
        page-break-inside: avoid !important;
    }
    a[href]:after {
        font-size: 12px !important;
    }
}

.markdown-body.slides {
  position: relative;
  z-index: 1;
  color: #222;
}

.markdown-body.slides::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: currentColor;
  box-shadow: 0 0 0 50vw;
}

.markdown-body.slides section[data-markdown] {
  position: relative;
  margin-bottom: 1.5em;
  background-color: #fff;
  text-align: center;
}

.markdown-body.slides section[data-markdown] code {
  text-align: left;
}

.markdown-body.slides section[data-markdown]::before {
  content: '';
  display: block;
  padding-bottom: 56.23%;
}

.markdown-body.slides section[data-markdown] > div:first-child {
  position: absolute;
  top: 50%;
  left: 1em;
  right: 1em;
  transform: translateY(-50%);
  max-height: 100%;
  overflow: hidden;
}

.markdown-body.slides section[data-markdown] > ul {
  display: inline-block;
}

.markdown-body.slides > section > section + section::after {
  content: '';
  position: absolute;
  top: -1.5em;
  right: 1em;
  height: 1.5em;
  border: 3px solid #777;
}

/* for all pages should include this */
body {
    font-smoothing: subpixel-antialiased !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: auto !important;
    text-shadow: 0 0 1em transparent, 1px 1px 1.2px rgba(0, 0, 0, 0.004);
    /*text-rendering: optimizeLegibility;*/
    -webkit-overflow-scrolling: touch;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    letter-spacing: 0.025em;
}
:focus, .focus {
    outline: none !important;
}
::-moz-focus-inner {
    border: 0 !important;
}

/* manual fix for bootstrap issue 14040, there is an unnecessary padding-right on modal open */
body.modal-open {
    overflow-y: auto;
    padding-right: 0 !important;
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

